.courses .card {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.courses__img {
    width: 100%;
    margin: 0 auto;
}

.courses__content,
.courses .card-action {
    margin-top: auto;
}