.course-presentation {
    width: 400px;
    margin: 0 auto;
}

.course-presentation .card {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.courses__img {
    padding-top: 50px;
    width: 100px;
    margin: 0 auto;
}

.courses__content,
.course-presentation .card-action {
    margin-top: auto;
}