.course-presentation {
    max-width: 500px;
    margin: 0 auto;
}

.course-presentation .card {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.courses__content,
.course-presentation .card-action {
    margin-top: auto;
}