.main-nav .nav-wrapper {
    padding: 0 20px;
}

.main-nav .main-nav__logo {
    display: flex;
    align-items: center;
}

.main-nav__logo::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    background: url(../../../img/logo.svg);
    background-size: 100%;
    margin-right: 15px;
}